<div id="battle-ui-div" align="center">
    <canvas id="battle-canvas" width="750" height="400" style="border: 1px solid black;"></canvas>
    <div id="battle-util-div" class="row" style="display: none;">
        <div id="battle-text-div" class="col-50">
            <p id="battle-text"></p>
        </div>
            
        <div id="battle-btns-div" class="col-50">
            <div class="row">
                <button class="col-50 battle-btn hover-gns" id="fight-btn">Fight</button>
                <button class="col-50 battle-btn hover-gns" id="mon-btn">NuzMon</button>
            </div>
            <div class="row">
                <button class="col-50 battle-btn hover-gns" id="catch-btn">Catch</button>
                <button class="col-50 battle-btn hover-gns" id="run-btn">Run</button>
            </div>
        </div>
    </div>

    <div id="fight-btns-div" class="row">
        <div class="col-80">
            <div class="row">
                <button id="atk-1" class="col-50 battle-btn hover-gns atk-btn">-</button>
                <button id="atk-2" class="col-50 battle-btn hover-gns atk-btn">-</button>
            </div>
            <div class="row">
                <button id="atk-3" class="col-50 battle-btn hover-gns atk-btn">-</button>
                <button id="atk-4" class="col-50 battle-btn hover-gns atk-btn">-</button>
            </div>
        </div>
        <div class="col-20">
            <button id="back-btn" class="battle-back-btn hover-gns-dark">Back</button>
        </div>
    </div>
    
    <div id="mon-img-div" style="display:none;">
        <img id="player-img" src="">
        <img id="opponent-img" src="">
    </div>

    <script src="components/battle/battleVars.js"></script>
    <script src="components/battle/ui.js"></script>
    <script src="components/battle/battleMain.js"></script>
    <script src="components/battle/battleBtns.js"></script>
</div>