<div id="intro-div">
    <div align="center">
        <div class="valign" id="gender-select">
            <h2 class="intro-label">Are you a...</h2>
            <button class="no-style-btn" id="boy-btn"><img src="img/ui/boy.png"></button>
            <button class="no-style-btn" id="girl-btn"><img src="img/ui/girl.png"></button>
            <p id="gender-label" class="intro-label">...</p>
        </div>

        <div class="valign" id="age-select" style="display:none;">
            <h2 class="intro-label">How old are you?</h2>
            <input id="age-input" type="range" min="8" max="65" value="25">
            <p class="intro-label" id="age">25</p>
            <button class="no-style-btn intro-label" id="age-submit">OK</button>
        </div>

        <form id="name-form" class="valign" style="color:white; display:none;">
            <label style="font-size:36px">What's your name?</label><br>
            <input id="name-input" maxlength="12" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" type="text" name="name">
        </form>
        <div id="note" style="display:none;">

        </div>
    </div>
    <script src="components/intro/intro.js"></script>
</div>