<div id="anim-div" align="center">
    <canvas id="anim-canvas" width="750" height="400" style="border: 1px solid black;"></canvas>
    <div id="select-div">
        <label>Basic</label>
        <select id="anim-select-basic">
            <option value="circlef">Circle Forward</option>
            <option value="circleb">Circle Back</option>
            <option value="circlecounterf">Circle Counter Forward</option>
            <option value="circlecounterb">Circle Counter Back</option>
            <option value="flash">Flash</option>
            <option value="flipB">Flip Back</option>
            <option value="flipF">Flip Front</option>
            <option value="grow">Grow</option>
            <option value="hop">Hop</option>
            <option value="invertcolor">Invert Color</option>
            <option value="jump">Jump</option>
            <option value="jumpflip">Jump Flip</option>
            <option value="jumpR">Jump Right</option>
            <option value="jumpL">Jump Left</option>
            <option value="ltoleft">Lerp to Left</option>
            <option value="ltoright">Lerp to Right</option>
            <option value="lerpup">Lerp Up</option>
            <option value="mirimg">Mirror Image</option>
            <option value="movel">Move Left</option>
            <option value="mover">Move Right</option>
            <option value="movefl">Move Fast Left</option>
            <option value="movefr">Move Fast Right</option>
            <option value="moveu">Move Up</option>
            <option value="movefu">Move Fast Up</option>
            <option value="rushl">Rush Left</option>
            <option value="rushr">Rush Right</option>
            <option value="shake">Shake</option>
            <option value="shrink">Shrink</option>
            <option value="shudder">Shudder</option>
            <option value="spinb">Spin Backward</option>
            <option value="spinf">Spin Forward</option>
            <option value="spinfb">Spin Backward Fast</option>
            <option value="spinff">Spin Forward Fast</option>
            <option value="slideir">Slide In Right</option>
            <option value="slideil">Slide In Left</option>
            <option value="slideiu">Slide In Up</option>
            <option value="slideid">Slide In Down</option>
            <option value="slideor">Slide Out Right</option>
            <option value="slideol">Slide Out Left</option>
            <option value="slideou">Slide Out Up</option>
            <option value="slideod">Slide Out Down</option>
        </select>
        <button id="anim-btn-basic">Animate</button>
        <label>Chained</label>
        <select id="anim-select-chain">
            <option value="circlecounterf-circleb">Figure-8</option>
            <option value="circlef-hop-movefl-ltostart">Circle Hop Move Fast Left then Return</option>
            <option value="hop-hop">Hop Double</option>
            <option value="hop-movefl-ltostart">Hop Move Fast Left then Return</option>
            <option value="hop-movefr-ltostart">Hop Move Fast Right then Return</option>
            <option value="jumpL-ltostart">Jump Left and Return</option>
            <option value="jumpR-ltostart">Jump Right and Return</option>
            <option value="jumpR-rushl-ltostart">Jump Right Rush Left and Return</option>
            <option value="mirimg-flipB">Mirror then BackFlip</option>
            <option value="rushl-ltostart">Rush Left then Return</option>
            <option value="rushr-ltostart">Rush Right then Return</option>
            <option value="ltoright-ltostart">Lerp Right then Return</option>
            <option value="mover-wait-ltostart">Move Right Wait then Return</option>
            <option value="shake-ltostart">Shake then Return</option>
            <option value="flash-ltoright-ltostart">Flash Right then Return</option>
            <option value="movefu-spinfb-spinfb-spinfb-ltostart">Fast Up SPIN SPIN SPIN then Return</option>
            <option value="slideol-slideir-slideol-slideir-slideol-slideir">Sliiiiiide left</option>
        </select>
        <button id="anim-btn-chain">Animate</button>
        <button id="anim-stop">STOP</button>
    </div>
    <div id="anim-img-div" style="display: none">
        <img id="anim-img" src="img/mons/embah.png">
        <img id="ref-img" src="img/mons/derple.png">
    </div>
    <script src="components/animationTest/animationTest.js"></script>
</div>