<div id="battle-test-div">
    <div id="battle-type-div" style="display:hidden;" align="center">
        <h4>Battle Type</h4>
        <button class="title-btn hover-gns" id="trainer">Trainer</button>
        <button class="title-btn hover-gns" id="wild">Wild</button>
    </div>
    <div id="trainer-choice-div" style="display:hidden;">
    </div>
    <div id="wild-choice-div" style="display:hidden;">
        <p>Level:  <input id="lvl-input" value="3"></p>
        <ol id="wild-list"></ol>
    </div>
    <script src="components/battleTest/battleTest.js"></script>
</div>