<div id="nav-div">
    <button class="hover-gns" id="nav-main-btn"><img src="img/ui/menu.png" ></button>
    <div id="nav-side" align="center">
        <button class="no-style-btn nav-btn" id="player-nav" data="player"><img src="img/ui/player.png" ></button>
        <button class="no-style-btn nav-btn" id="mon-nav" data="party"><img src="img/ui/party.png" ></button>
        <button class="no-style-btn nav-btn" id="inv-nav" data="inventory"><img src="img/ui/inventory.png" ></button>
        <button class="no-style-btn nav-btn" id="map-nav" data="map"><img src="img/ui/map.png" ></button>
        <button class="no-style-btn nav-btn" id="journal-nav" data="jounral"><img src="img/ui/journal.png" ></button>
    </div>
    <script src="components/nav/nav.js"></script>
</div>